<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>
<h1>Page Clients</h1>
<table>
    <thead>
        <th>Id</th>
        <th>Nom</th>
        <th>Adresse</th>
    </thead>
    <tbody>
        <th:block th:each="client, stat : ${clients}">
            <tr>
                <td th:text="${client.getClientID()}">1</td>
                <td th:text="${client.getClientName()}">Lacou</td>
                <td th:text="${client.getClientAddress()}">Lacou</td>
            </tr>
        </th:block>
    </tbody>
</table>
<a th:href="@{'/client'}">New Client</a>
<br>
<a th:href="@{'/getEmpruntsWithClientId'}">Voir emprunts</a>
<br>
<a th:href="@{'/'}">Accueil</a>
</body>
</html>