<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Client</title>
</head>
<body>
<h1>Form</h1>
        <form action="#" th:action="@{/client}" th:object="${clientForm}" method="post">
            <table border="1">
                <tr>
                    <td><label>Name</label></td>
                    <td><input type="text" th:field="*{clientName}" /></td>
                    <td th:if="${#fields.hasErrors('clientName')}">Nom invalide</td>
                </tr>
                <tr>
                    <td><label>Address</label></td>
                    <td><input type="text" th:field="*{clientAddress}" /></td>
                    <td th:if="${#fields.hasErrors('clientAddress')}">Addresse invalide</td>
                </tr>
                <tr>
                    <td><input type="submit" value="Sauve" /></td>
                </tr>
            </table>
        </form>
</body>
</html>