<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/media}" th:object="${media}" method="post">
    <p>Titre : <input type="text" th:field="*{title}" /></p>
    <p>Auteur : <input type="text" th:field="*{author}" /></p>
    <p>Editeur : <input type="text" th:field="*{editor}" /></p>
    <p>Exemplaires : <input type="text" th:field="*{exemplaires}" /></p>
    <p>Année : <input type="text" th:field="*{releaseYear}" /></p>
    <p>Legnth : <input type="text" th:field="*{length}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<a th:href="@{'/medias'}">Retour</a>
</body>
</html>